BUCKET_TYPE="type of bucket. one of: backblaze, amazon_s3, cloudflare, or hippius"
BUCKET_NAME="bucket name"
BUCKET_COMPATIBLE_ENDPOINT="bucket endpoint"
BUCKET_COMPATIBLE_ACCESS_KEY="bucket personal access key"
BUCKET_COMPATIBLE_SECRET_KEY="bucket personal secret key"
BUCKET_REGION="bucket region (e.g., eu-west-2 for Wasabi, auto for Cloudflare R2)"


#validators only
PEXELS_API_KEY="Your Pexels account api key"
WANDB_API_KEY="Your wandb api key"